<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8462908130-ff5jlqmj9ovndlc31s54seghrrkbsbo0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8462908130-ff5jlqmj9ovndlc31s54seghrrkbsbo0</string>
	<key>API_KEY</key>
	<string>AIzaSyCbY6umCTb_KWf4FBr__IFAfEjRdurd0HQ</string>
	<key>GCM_SENDER_ID</key>
	<string>8462908130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.greeniq.system</string>
	<key>PROJECT_ID</key>
	<string>greeniq-578ca</string>
	<key>STORAGE_BUCKET</key>
	<string>greeniq-578ca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8462908130:ios:c7ab52932f9c1cb7577cbb</string>
</dict>
</plist>